{% load static %}
<footer class = "footer" id = "bottom">
   <!--email-->
	<a href = "#" title="Bisrat Walle Email" class = "footer__link">bisratwalle3@gmail.com</a>
	<ul class = "social-list">
	  <li class = "social-list__item">
		 <a class = "social-list__link" title="Bisrat Walle WhatsApp Account" href = "https://wa.me/qr/HAJ5DZZXX2VLI1"><img class="icon" src = "{% static 'pages/images/whatsup_logo.png' %}"></a>
	  </li>
	  <li class = "social-list__item">
		 <a class = "social-list__link" title="Bisrat Walle LinkedIn Account" href = "https://www.linkedin.com/in/bisrat-walle"><img class="icon" src = "{% static 'pages/images/linkedin_logo.png' %}"></a>
	  </li>
	  <li class = "social-list__item">
		 <a class = "social-list__link" title="Bisrat Walle Telegram Account"  href = "https://t.me/bisratu"><img class="icon" src = "{% static 'pages/images/telegram_logo.png' %}"></a>
	  </li>
	  <li class = "social-list__item">
		 <a class = "social-list__link" title="Bisrat Walle Youtube Channel"  href = "https://www.youtube.com/"><img class="icon" src = "{% static 'pages/images/youtube_logo.png' %}"></a>
	  </li>
	</ul>
<p class="copyright">&copy 2021 BisratWalle. All rights reserved</p>
 </footer>